@import "~bootstrap/scss/bootstrap";

.post-card {
  &:not(:first-of-type) {
    margin-top: map-get($spacers, 4);
  }
  .card-header {
    display: grid;
    grid-template: 2fr / auto 1fr;
    justify-content: start;

    img {
      grid-row: 1 / 3;
      height: 3.5rem;
      margin-right: map-get($spacers, 2);
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
    p, h3 {
      margin: 0;
    }
    h3 > a {
      color: tint-color($primary, 30%);
      transition: $transition-base;

      &:hover {
        color: $primary;
      }
    }
  }
  .card-body {
    max-height: 20rem;
    overflow: hidden;
  
    h1, h2, h3, h4, h5, h6, img {
      display: none;
    }
  }
  .card-header, .card-footer {
    background: tint-color($dark, 5%);
  }
  .post-title {
    &:hover {
      color: $primary;
      transition: $transition-base;
    }
  }
}
